.container-cart{
    display: flex;
    justify-content: space-around;
    gap: 3.125rem;
    background-color: #f7e7ea;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1.25rem;
    width: 70%;
    padding: 0 2rem;
    height: 10rem;
}

.container-cart img{
    max-width: 20%;
    height: auto;

}

.detalles-productos-cart{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-cart div button{
    border: none;
    font-size: 1.875rem;
    transition: all 0.3s;
}
.container-cart div button:hover{
    color: #e64a64;
}

.title-itemCart{
    text-align: center;
    font-size: 1.25rem;
}

.container-cart div .div-quantity {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
}

.div-quantity button{
    width: 1.875rem;
    height: 1.875rem;
    margin: 0;
}

.div-quantity p{
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    text-align: center;
}

.precio-eliminar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: .625rem;
}

.precio-eliminar button{
    background-color: transparent;
}

.precio-eliminar button i{
    font-size: 1.875rem;
}

.precio-eliminar div p{
    margin: 0;
}


@media (max-width: 900px) {
    .container-cart{
        height: auto;
        width: 90%;
        gap: 1rem;
        font-size: 1.125rem;
    }
    .container-cart img{
        height: auto;
    }
    .precio-eliminar button i{

        font-size: 1.5625rem;
    }
}

@media (max-width: 600px){
    .container-cart{
        width: 100%;
    }
}