.link{
    color: black;
}
.imagen-detail {
    width: 24.375rem;
    height: 31.25rem;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 3px 3px 10px #8d8d8d;
}

strong{
    font-size: 1.5625rem;
}

.p-detail{
    color: rgb(109, 108, 108);
}
.p-detail span{
    color: black;
}

.div-detail a{
    color: rgb(48, 47, 47);
    transition: all 0.3s;
}
.div-detail a:hover{
    color: rgb(231, 75, 101);
}
.my-custom-toast{
    background-color: #f8d4da;
    color: rgb(231, 75, 101);
    bottom: 3.125rem;
    text-align: center;
}

.sin-stock{
    color: rgb(231, 75, 101);
}

.container{
    margin: 0;
    width: 100%;
}

.counter-item{
    display: flex;
    flex-wrap: wrap;
}

.contenedor-item-detail{
    padding-right: .9375rem;
    padding-left: .9375rem;
}


@media (max-width: 800px) {
    .contenedor-item-detail{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detalles-producto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .counter-item{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px){

    .imagen-detail{
        width: 100%;
    }

    .contenedor-item-detail{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}