.title-categ::first-letter{
    text-transform: uppercase;
}
.title-categ{
    font-size: 2rem;
}

.title{
    text-align: center;
    padding-top: 0;
}


@media (max-width: 600px) {
    .title{
        font-size: 2.5rem;
        padding: 0 1rem;
    }


    .title-categ{
        font-size: 1.75rem;
    }
}
