.item {
    width: 24.375rem;
    color: black;
    transition: all 0.3s;
    border-radius: 5%;
    box-shadow: 3px 3px 10px #8d8d8d;
}

.item:hover {
    transform: scale(1.05);
}

.imagen-item {
    width: 24.375rem;
    height: 31.25rem;
    object-fit: cover;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;

}

.div-texto {
    border-bottom-left-radius: .9375rem;
    border-bottom-right-radius: .9375rem;
}