.item {
    float: left;
    clear: both;
    color: black;
    border-radius: 5%;
    overflow: hidden;
    transition: 0.4s ease;
    background-color: rgb(247, 241, 241);
}


.imagen-item {
    max-width: 100%;
    object-fit: cover;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;



}

.item:hover{
    box-shadow: 3px 3px 10px #8d8d8d;
}


.div-texto {
    border-bottom-left-radius: .9375rem;
    border-bottom-right-radius: .9375rem;
    padding: .25rem 0 0 0;
}

.item-title{
    color: rgba(0, 0, 0, 0.774);
}


@media (max-width: 823px){
    .item{
        background-color: transparent;
        box-shadow: 3px 3px 10px #8d8d8d;
    }
}