.item{
    width: 18.75rem;
    height: 37.5rem;
    color: black;
}

.imagen-item{
    width: 100%;
    height: 28.125rem;
    object-fit: cover;
}

.div-texto{
    background-color: rgb(201, 198, 198);
}