.numerito{
    background-color: white;
    text-align: center;
    font-size: .875rem;
    font-weight: bold;
    width: .625rem;
    height: 1.125rem;
    border-radius: .3125rem;
}

.contenedor-title{
    background-image: url('https://images.pexels.com/photos/2780762/pexels-photo-2780762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    height: 31.25rem;
}
.title{
    color: white;
    text-align: center;
    padding-top: 15.625rem;
    font-size: 2.8125rem;
}