
.div-item{
    float: left;
    clear: both;
}
.contenedor-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    padding: 3.125rem 0 3.125rem 0;
    justify-items: center;
    align-items: center;
    padding: 4rem 6.25rem;
}


@media (max-width: 823px){
    .contenedor-items{
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem 3rem;
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

@media (max-width: 550px){
    .contenedor-items{
        padding-top: 4rem;
        padding-bottom: 4rem;
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
}